[submodule "src/lib-third-party/ObjcScopedGuard"]
	path = src/lib-third-party/ObjcScopedGuard
	url = https://github.com/Sitecore/ObjcScopedGuard.git
[submodule "src/lib-third-party/AmberFramework-lite"]
	path = src/lib-third-party/AmberFramework-lite
	url = https://github.com/Sitecore/AmberFramework-lite.git
[submodule "src/lib-third-party/HTMLParser"]
	path = src/lib-third-party/HTMLParser
	url = https://github.com/EmbeddedSources/HTMLParser.git
[submodule "src/lib-third-party/UIDevice-with-UniqueIdentifier-for-iOS-5"]
	path = src/lib-third-party/UIDevice-with-UniqueIdentifier-for-iOS-5
	url = https://github.com/EmbeddedSources/UIDevice-with-UniqueIdentifier-for-iOS-5.git
[submodule "src/lib-third-party/davedelong-Demos"]
	path = src/lib-third-party/davedelong-Demos
	url = https://github.com/EmbeddedSources/Demos.git
[submodule "src/lib-third-party/TouchXML"]
	path = src/lib-third-party/TouchXML
	url = https://github.com/EmbeddedSources/TouchXML.git
[submodule "src/lib-third-party/ios-openssl"]
	path = src/lib-third-party/ios-openssl
	url = https://github.com/Sitecore/ios-openssl.git
[submodule "src/lib-third-party/iFeatureAvailability"]
	path = src/lib-third-party/iFeatureAvailability
	url = https://github.com/dodikk/iFeatureAvailability.git
[submodule "src/lib-third-party/JFFLibrary"]
	path = src/lib-third-party/JFFLibrary
	url = https://github.com/EmbeddedSources/iAsync.git
