<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>userAgent</string>
			<key>Key</key>
			<string>userAgent</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Site URL</string>
			<key>Key</key>
			<string>urlToLoad</string>
			<key>DefaultValue</key>
			<string>http://uvo12s5uz4nzfkyy6rt.env.cloudshare.com/</string>
			<key>KeyboardType</key>
			<string>URL</string>
		</dict>
	</array>
</dict>
</plist>
